.thu-kinh-bg {
  background-position: center;
  position: relative;
  height: 100vh;
}
.bg-nav {
  background-color: #343a40b0;
}
.vglasses__model {
  position: absolute;
  top: 22%;
  left: 43%;
  width: 159px;
  height: 67px;
  opacity: 0.9;
}
.vglasses__info {
  position: absolute;
  bottom: 0;
  left: 416px;

  background-color: #fa8852b3;
  width: 25%;
  color: white;
  padding: 8px;
  text-align: left;
}
